In [93]:
import pandas as pd

In [94]:
df=pd.read_csv('E:\mlpipeline\experiments\spam (1).csv')

<>:1: SyntaxWarning: invalid escape sequence '\m'
<>:1: SyntaxWarning: invalid escape sequence '\m'
C:\Users\rajab\AppData\Local\Temp\ipykernel_9876\2251574415.py:1: SyntaxWarning: invalid escape sequence '\m'
  df=pd.read_csv('E:\mlpipeline\experiments\spam (1).csv')

In [95]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [96]:
df=df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)

In [97]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [98]:
df.rename(columns={'v1':'target','v2':'text'},inplace=True)

In [99]:
df.head()

  target                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

# Data Preproceesing

In [100]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['target']=encoder.fit_transform(df['target'])
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [101]:
df.isnull().sum()

target    0
text      0
dtype: int64

In [102]:
df.duplicated().sum()

403

In [103]:
df.drop_duplicates(inplace=True)

In [104]:
df.duplicated().sum()

0

# feature  engineering

In [105]:
pip install nltk

Requirement already satisfied: nltk in e:\mlproject\venv\lib\site-packages (3.9.1)
Requirement already satisfied: click in e:\mlproject\venv\lib\site-packages (from nltk) (8.2.1)
Requirement already satisfied: joblib in e:\mlproject\venv\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in e:\mlproject\venv\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in e:\mlproject\venv\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in e:\mlproject\venv\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [106]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
import re

def clean_text(text):
    # Remove punctuation/special characters and lowercase
    cleaned_text = re.sub(r'[^a-zA-Z\s]', '', text).lower()
    
    # Tokenize
    tokens = word_tokenize(cleaned_text)
    
    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    filtered_text = [w for w in tokens if w not in stop_words]
    
    # Stemming
    stemmer = PorterStemmer()
    stemmed = [stemmer.stem(word) for word in filtered_text]
    
    return " ".join(stemmed)

In [107]:
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [108]:
df['text']=df['text'].apply(clean_text)
df.head()

   target                                               text
0       0  go jurong point crazi avail bugi n great world...
1       0                              ok lar joke wif u oni
2       1  free entri wkli comp win fa cup final tkt st m...
3       0                u dun say earli hor u c alreadi say
4       0          nah dont think goe usf live around though

In [109]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
X=tfidf.fit_transform(df['text']).toarray()
y=df['target'].values

# train test split

In [110]:
from sklearn.model_selection import train_test_split
X_train, X_test , y_train, y_test = train_test_split(X,y,test_size = 0.20, random_state = 2)

In [111]:

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

In [112]:
svc = SVC(kernel= "sigmoid", gamma  = 1.0)
knc = KNeighborsClassifier()
mnb = MultinomialNB()
dtc = DecisionTreeClassifier(max_depth = 5)
lrc = LogisticRegression(solver = 'liblinear', penalty = 'l1')
rfc = RandomForestClassifier(n_estimators = 50, random_state = 2 )
abc = AdaBoostClassifier(n_estimators = 50, random_state = 2)
bc = BaggingClassifier(n_estimators = 50, random_state = 2)
etc = ExtraTreesClassifier(n_estimators = 50, random_state = 2)
gbdt = GradientBoostingClassifier(n_estimators = 50, random_state = 2)    
xgb  = XGBClassifier(n_estimators = 50, random_state = 2)

In [113]:

clfs = {
    'SVC': svc,
    'KNN': knc,
    'NB': mnb,
    'DT': dtc,
    'LR': lrc,
    'RF': rfc,
    'Adaboost': abc,
    'Bgc': bc,
    'ETC': etc,
    'GBDT': gbdt,
    'xgb': xgb
    
}

# model trainig

In [114]:
from sklearn.metrics import accuracy_score, precision_score
def train_classifier(clfs, X_train, y_train, X_test, y_test):
    clfs.fit(X_train,y_train)
    y_pred = clfs.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    return accuracy , precision

In [115]:
accuracy_scores = []
precision_scores = []
for name , clfs in clfs.items():
    current_accuracy, current_precision = train_classifier(clfs, X_train, y_train, X_test, y_test)
    print()
    print("For: ", name)
    print("Accuracy: ", current_accuracy)
    print("Precision: ", current_precision)
    
    accuracy_scores.append(current_accuracy)
    precision_scores.append(current_precision)

For:  SVC
Accuracy:  0.9729206963249516
Precision:  0.9741379310344828

For:  KNN
Accuracy:  0.9032882011605415
Precision:  1.0

For:  NB
Accuracy:  0.9545454545454546
Precision:  1.0

For:  DT
Accuracy:  0.9390715667311412
Precision:  0.8440366972477065

For:  LR
Accuracy:  0.9535783365570599
Precision:  0.95

For:  RF
Accuracy:  0.971953578336557
Precision:  0.990990990990991

For:  Adaboost
Accuracy:  0.9264990328820116
Precision:  0.8444444444444444

For:  Bgc
Accuracy:  0.9622823984526112
Precision:  0.8778625954198473

For:  ETC
Accuracy:  0.9738878143133463
Precision:  0.9826086956521739

For:  GBDT
Accuracy:  0.9506769825918762
Precision:  0.9223300970873787

For:  xgb
Accuracy:  0.9700193423597679
Precision:  0.9421487603305785